
<body>
  
  <h1> Automotive Database </h1>
  <h2> Group Number: 2  </h2>
  <h2>Group Member: Can Yang, Wanjing Chen</h2>
  <h3>Project Overview</h3>
    <ul>
      <li> project is to design and develop a relational database for a class="navitem" local car dealership. The database will serve as a class="navitem" tool to keep track of the business and will include information on registered customers who have made purchases or expressed interest in making purchases with the dealership. It will also track the inventory of cars available for sale, waitlists where customers can request a class="navitem" car that is not currently available, and notify them once it becomes available. The database will also include sections for invoices and employee management.</li>
      <li> invoices section will serve the purpose of keeping track of the details of all sales made by customers, while the employee section will allow the dealership to monitor employee performance based on sales. It's essential that each customer is assigned a class="navitem" specific employee to provide personalized one-to-one service.</li>
      <li> we are in the import/export automotive industry and handle an average of 40-50 orders per month and all sales records are recorded on paper by our twelve employees,  developing a class="navitem" database is necessary to provide better services to our customers by improving the organization aspect of the company.</li>

</ul>
<h1>  </h1>

  This can link you to our database pages: 
  <ul>
    <a class="navitem" href="/">index</a>
    <a class="navitem" href="/Car">Car</a>
    <a class="navitem" href="/Customer">Customer</a>
    <a class="navitem" href="/Employee">Employee</a>
    <a class="navitem" href="/Invoice">Invoice</a>
    <a class="navitem" href="/Waitlist">Waitlist</a>
  </ul>