h1 {
	color: rgb(26, 151, 213);
	/*background-color: black;*/
	/*border: 1px solid orange;*/
}

body {
	background-color: rgb(236, 228, 196);
}

nav {
	position: fixed;
	top: 0px;
	width: 100%;
	left: 10px;
	height: 57px;

}
table {
    width: 100%;
    border: 1px solid #000;
  }

.navitem {
	text-align: top;
	vertical-align: top;
	border: 1px solid #040001;
	padding: 0.4em;
	caption-side: bottom;
}