h1 {
	color: rgb(24, 9, 231);
	/*background-color: black;*/
	/*border: 1px solid orange;*/
}

body {
	/*background-color: rgb(236, 228, 196);*/
	/*background-color: #cccccc;;*/
	background-image: url(image/i3.png);
}

nav {
	position: fixed;
	top: 0px;
	width: 100%;
	left: 10px;
	height: 57px;

}
table {
    width: 100%;
    border: 1px solid #000;
  }
form {
	display: inline-block;
}
.navitem {
	/*text-align: top;*/
	border: 1px solid #040001;
	display: block;
	padding: 8px;
	caption-side: bottom;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  .here {
	text-decoration: none;
  }
